<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TigerWine</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="constructorObjects.js"></script>
        <script src="variables.js"></script>
        <script src="dicefunctions.js"></script>
        <script src="betting.js"></script>
        

    </head>
    <body >


        <h1>Bet</h1>
        <div ng-app = "playerStatus" ng-controller = "myCtrl">


            <span>Current Player: {{name + " has " + money + " credits "}}
            </span>
            <br><br>
            Choice

            0: Rooster 1: Wine 2: Deer 3: Fish 4: Crab 5. Shrimp
            <br>

            <input id="betposition"> 
            <button type="button" ng-click="promptuser()">Submit</button>
            <br> {{chosenanimal}}

            <br>
            How much do you bet?
            <br>


            <input id="betamount">
            <button type="button" ng-click="promptuser2()" >Submit</button>
            <br> {{bet}}
            <br>
        
        <h2>-----------------------------------------------</h2>
        <h3> Side Betting </h3>

         
            Who do you want to side bet?
            <br>

            Available Players: 

          
                availableperson

            <br>
            <input id="personchoice">
            <button type="button" ng-click="chooseperson()">Submit</button>
            <br> choice

            <br>

            Available Positions For Chosen Player:
            <br>availableposition + "  are available"
            <br>
            Which position do you choose?
            <br>
            <input id="positionchoice">
            <button type ="button" ng-click="chooseposition()">Submit</button>
            <br> choice2
            <br>
            How much do you want to extract?
            <br>
            <input id="sidebetamount">
            <button type="button" ng-click="promptuser3()" >Submit</button>
            <br> bet


            <br>
            Where do you want to put the cash?
            <br>
            <input id="sidebetplace">
            <button type="button" ng-click="promptuser4()">Submit</button>
            <br> chosenanimal
        </div>
    </body>
</html>
