<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Klaklok</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
    <script>
        
        function Person (name, money){
            this.name = name;
            this.money = money;
        }
        
        var node1 = new Person("Wing", 5);

    </script>

    <p id="currentplayer"></p>

    <div ng-app = "myApp" ng-controller = "myCtrl">
        <p type="text" ng-model="name">
        <p type="text" ng-model="money">
            Current Player: {{name + " has "+ money + " credits "}}
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.name = node1.name;
            $scope.money = node1.money;
        });
        if(node1.money > 0){
            document.write("Where do you want to make a bet?");
        }
    </script>        
    
    </body>
</html>
