<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TigerWine</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body >

        <b>(When Banker appears look in the console to see result)</b>
        <h2>Bet</h2>
        <div ng-app = "playerStatus" ng-controller = "myCtrl">

            <span>Current Player: {{name + " has " + money + " credits "}}
            </span>
            <br>
            <br>

            0: Rooster 1: Wine 2: Deer 3: Fish 4: Crab 5. Shrimp
            <br>

            <input ng-model="chosenanimal">


            <br>
            {{chosenanimal}}


            <br>
            How much do you bet?
            <br>

            <input ng-model="bet">
            <button type="button" ng-click="promptuser();promptuser2()" >Submit</button>
            <br> 
            {{bet}}

            <h2> Side Betting </h2>

            Who do you want to side bet?
            <br>

            Available Players: 
            {{availableperson}}

            <br>
            <input ng-model="choice">
            <button type="button" ng-click="chooseplayer()">Submit</button>
            <br> 
            {{choice}} 
            <br>

            Available Positions For Chosen Player:
            <br>
            {{availableposition}} 
            <br>
            Which position do you choose?
            <br>
            <input ng-model="choice2">

            <br> 
            {{choice2}}
            <br>
            How much do you want to extract?
            <br>
            <input ng-model="choice3">

            <br>
            {{choice3}}

            <br>
            Where do you want to put the cash?
            <br>
            <input ng-model="choice4">
            <button type="button" ng-click="chooseposition();promptuser3();promptuser4()">Submit</button>
            <br> {{choice4}}
        </div>
        <!--put scripts on the bottom of the page, always-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="js/models.js"></script>
        <script src="js/variables.js"></script>
        <script src="js/dicefunctions.js"></script>
        <script src="js/betting.js"></script>
    </body>
</html>

